@charset 'UTF-8';
.footer {
  text-align: center
}
.footer .friend-link {
  font-size: 0;
  overflow: hidden;
  padding-top: 20px
}
.footer .friend-link a,
.footer .friend-link cite,
.footer .friend-link em {
  font-size: 12px;
  display: inline-block
}
.footer .friend-link em {
  font-family: PingFangSC-Regular,'-apple-system',Simsun;
  margin-right: 16px
}
.footer .footer-menu em,
.footer .friend-link em {
  color: #1a1a1a
}
.footer .footer-menu a,
.footer .friend-link a {
  font-family: PingFangSC-Regular,'-apple-system',Simsun;
  font-size: 12px;
  line-height: 18px;
  margin-right: 16px;
  margin-bottom: 10px;
  color: #1a1a1a
}
.footer .footer-menu a:hover,
.footer .friend-link a:hover {
  color: var(--color-primary)
}
.footer .footer-menu a.yuewen,
.footer .friend-link a.yuewen {
  margin: 0
}
.footer .footer-menu {
  padding: 0 0 6px
}
.footer .footer-menu.pt20 {
  padding: 20px 0 6px
}
.footer .footer-menu a {
  color: #666
}
.footer .copy-right,
.footer .safety-box {
  padding-bottom: 20px
}
.footer .copy-right p,
.footer .safety-box p {
  font: 12px/20px PingFangSC-Regular,'-apple-system',Simsun;
  overflow: hidden;
  height: 20px;
  color: grey
}
.footer .copy-right span,
.footer .safety-box span {
  font-family: Arial;
  margin-right: 5px
}
.footer .safety-img a {
  width: 128px;
  height: 48px;
  margin-right: 10px;
  border: 1px solid #ededed;
  background-image: url(/pro/hongxiu_pc/_prelease/images/foot_site.a9a09.png)
}
.footer .safety-img a.site1 {
  background-position: 0 0
}
.footer .safety-img a.site2 {
  background-position: 0 -47px
}
.footer .safety-img a.site3 {
  background-position: 0 -96px
}
.footer .safety-img a.site4 {
  background-position: 0 -145px
}
.footer .safety-img-shanghai a {
  width: 140px;
  height: 52px;
  margin-right: 14px;
  border: 1px solid #ededed;
  background-image: url(/pro/hongxiu_pc/_prelease/images/foot_site_shanghai.c7a69.png)
}
.footer .safety-img-shanghai a.site1 {
  background-position: 0 0
}
.footer .safety-img-shanghai a.site2 {
  background-position: 0 -52px
}
.footer .safety-img-shanghai a.site3 {
  background-position: 0 -104px
}
.footer .safety-img-shanghai a.site4 {
  background-position: 0 -156px
}
.footer .safety-img-shanghai a.site5 {
  background-position: 0 -208px
}
.footer .safety-img-shanghai a.site6 {
  background-position: 0 -260px
}
.footer .safety-img-shanghai a.site7 {
  background-position: 0 -312px
}
.footer .safety-img-shenzhen a {
  width: 122px;
  height: 52px;
  margin-right: 14px;
  border: 1px solid #ededed;
  background-image: url(/pro/hongxiu_pc/_prelease/images/foot_site_shenzhen.1c0ec.png)
}
.footer .safety-img-shenzhen a.site1 {
  background-position: 0 0
}
.footer .safety-img-shenzhen a.site2 {
  background-position: 0 -52px
}
.footer .safety-img-shenzhen a.site3 {
  background-position: 0 -104px
}
.footer .safety-img-shenzhen a.site4 {
  background-position: 0 -156px
}
.footer .safety-img-shenzhen a.site5 {
  background-position: 0 -208px
}
.footer .safety-img-shenzhen a.site6 {
  background-position: 0 -260px
}
.test {
  color: red
}