@charset 'UTF-8';
.aic {
  align-items: center
}
.aife {
  align-items: flex-end
}
.aifs {
  align-items: flex-start
}
.b0 {
  bottom: 0
}
.bct {
  background-color: transparent
}
.bn {
  border: none
}
.br0 {
  border-radius: 0
}
.br100\% {
  border-radius: 100%
}
.bsbb {
  box-sizing: border-box
}
.bc_fff {
  background-color: #fff
}
.bc_000 {
  background-color: #000
}
.c_000 {
  color: #000
}
.c_fff {
  color: #fff
}
.cb {
  clear: both
}
.cp {
  cursor: pointer
}
.db {
  display: block
}
.df {
  display: flex
}
.di {
  display: inline
}
.dib {
  display: inline-block
}
.dif {
  display: inline-flex
}
.dn {
  display: none
}
.dt {
  display: table
}
.dtc {
  display: table-cell
}
.f1 {
  min-width: 0;
  flex: 1
}
.fa {
  flex: auto
}
.fdc {
  flex-direction: column
}
.fdr {
  flex-direction: row
}
.fi {
  font: inherit
}
.fl {
  float: left
}
.fr {
  float: right
}
.fs0 {
  font-size: 0
}
.fs1 {
  flex-shrink: 1
}
.fsi {
  font-style: italic
}
.fsn {
  font-style: normal
}
.fvsc {
  font-variant: small-caps;
  text-transform: lowercase
}
.fw100 {
  font-weight: 100
}
.fw200 {
  font-weight: 200
}
.fw300 {
  font-weight: 300
}
.fw400 {
  font-weight: 400
}
.fw500 {
  font-weight: 500
}
.fw600 {
  font-weight: 600
}
.fw700 {
  font-weight: 700
}
.fw800 {
  font-weight: 800
}
.fw900 {
  font-weight: 900
}
.fwn {
  font-weight: 400
}
.fww {
  flex-wrap: wrap
}
.h100\% {
  height: 100%
}
.jcc {
  justify-content: center
}
.jcfe {
  justify-content: flex-end
}
.jcsa {
  justify-content: space-around
}
.jcsb {
  justify-content: space-between
}
.l0 {
  left: 0
}
.l100\% {
  left: 100%
}
.l50\% {
  left: 50%
}
.lh1 {
  line-height: 1
}
.lh1\.2 {
  line-height: 1.2
}
.lh1\.5 {
  line-height: 1.5
}
.lh1\.8 {
  line-height: 1.8
}
.lsn {
  list-style: none
}
.m0 {
  margin: 0
}
.mla {
  margin-left: auto
}
.mra {
  margin-right: auto
}
.mta {
  margin-top: auto
}
.mba {
  margin-bottom: auto
}
.o0 {
  opacity: 0
}
.oa {
  overflow: auto;
  -webkit-overflow-scrolling: touch
}
.oh {
  overflow: hidden
}
.p0 {
  padding: 0
}
.pa {
  position: absolute
}
.pen {
  pointer-events: none
}
.pf {
  position: fixed
}
.pr {
  position: relative
}
.pt100\% {
  padding-top: 100%
}
.r0 {
  right: 0
}
.r100\% {
  right: 100%
}
.t0 {
  top: 0
}
.t100\% {
  top: 100%
}
.t50\% {
  top: 50%
}
.mw100\% {
  max-width: 100%
}
.tac {
  text-align: center
}
.taj {
  text-align: justify
}
.tal {
  text-align: left
}
.tar {
  text-align: right
}
.tdn {
  text-decoration: none
}
.tdu {
  text-decoration: underline
}
.tlf {
  table-layout: fixed
}
.ttc {
  text-transform: capitalize
}
.ttl {
  text-transform: lowercase
}
.ttn {
  text-transform: none
}
.ttu {
  text-transform: uppercase
}
.usn {
  user-select: none
}
.vam {
  vertical-align: middle
}
.vat {
  vertical-align: top
}
.vh {
  visibility: hidden
}
.w100\% {
  width: 100%
}
.wan {
  -webkit-appearance: none
}
.wsn {
  white-space: nowrap
}
.wwbw {
  word-wrap: break-word;
  word-break: break-all
}
.zi1 {
  z-index: 1
}
.mt4 {
  margin-top: 4px
}
.mt8 {
  margin-top: 8px
}
.mt12 {
  margin-top: 12px
}
.mt16 {
  margin-top: 16px
}
.mt24 {
  margin-top: 24px
}
.mr4 {
  margin-right: 4px
}
.mr8 {
  margin-right: 8px
}
.mr12 {
  margin-right: 12px
}
.mr16 {
  margin-right: 16px
}
.mr24 {
  margin-right: 24px
}
.mb4 {
  margin-bottom: 4px
}
.mb8 {
  margin-bottom: 8px
}
.mb12 {
  margin-bottom: 12px
}
.mb16 {
  margin-bottom: 16px
}
.mb24 {
  margin-bottom: 24px
}
.mb32 {
  margin-bottom: 32px
}
.mb48 {
  margin-bottom: 48px
}
.ml4 {
  margin-left: 4px
}
.ml8 {
  margin-left: 8px
}
.ml12 {
  margin-left: 12px
}
.ml16 {
  margin-left: 16px
}
.ml24 {
  margin-left: 24px
}
.pt4 {
  padding-top: 4px
}
.pt8 {
  padding-top: 8px
}
.pt12 {
  padding-top: 12px
}
.pt16 {
  padding-top: 16px
}
.pt24 {
  padding-top: 24px
}
.pr4 {
  padding-right: 4px
}
.pr8 {
  padding-right: 8px
}
.pr12 {
  padding-right: 12px
}
.pr16 {
  padding-right: 16px
}
.pr24 {
  padding-right: 24px
}
.pb4 {
  padding-bottom: 4px
}
.pb8 {
  padding-bottom: 8px
}
.pb12 {
  padding-bottom: 12px
}
.pb16 {
  padding-bottom: 16px
}
.pb24 {
  padding-bottom: 24px
}
.pb32 {
  padding-bottom: 32px
}
.pb48 {
  padding-bottom: 48px
}
.pl4 {
  padding-left: 4px
}
.pl8 {
  padding-left: 8px
}
.pl12 {
  padding-left: 12px
}
.pl16 {
  padding-left: 16px
}
.pl24 {
  padding-left: 24px
}
.fs12 {
  font-size: 12px
}
.fs14 {
  font-size: 14px
}
.fs16 {
  font-size: 16px
}
.fs20 {
  font-size: 20px
}
.fs24 {
  font-size: 24px
}
.fs32 {
  font-size: 32px
}
.lh16 {
  line-height: 16px
}
.lh24 {
  line-height: 24px
}
.lh18 {
  line-height: 18px
}
.w12 {
  width: 12px
}
.w16 {
  width: 16px
}
.w24 {
  width: 24px
}
.h12 {
  height: 12px
}
.h16 {
  height: 16px
}
.h24 {
  height: 24px
}
.br16 {
  border-radius: 16px
}
.br24 {
  border-radius: 24px
}
.br32 {
  border-radius: 32px
}
.clearfix:after {
  display: table;
  clear: both;
  content: ''
}
.ell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
.cell {
  display: table-cell;
  width: 2000px
}
.ells {
  display: -webkit-box;
  overflow: hidden;
  word-wrap: break-word;
  -webkit-box-orient: vertical
}
.ells._2 {
  -webkit-line-clamp: 2
}
.c_primary {
  color: var(--color-primary)
}
.bc_primary {
  background-color: var(--color-primary)
}
.box-center {
  width: 1020px;
  margin-right: auto;
  margin-left: auto
}
.fl {
  float: left
}
.fr {
  float: right
}
.mr0 {
  margin-right: 0
}
.mr10 {
  margin-right: 10px
}
.mr30 {
  margin-right: 30px
}
.mb10 {
  margin-bottom: 10px
}
.mb20 {
  margin-bottom: 20px
}
.mb30 {
  margin-bottom: 30px
}
.mb35 {
  margin-bottom: 35px
}
.mb40 {
  margin-bottom: 40px
}
.mb45 {
  margin-bottom: 45px
}
.mb50 {
  margin-bottom: 50px
}
.mb60 {
  margin-bottom: 60px
}
.hidden {
  display: none
}
.c_l {
  color: #1a1a1a
}
.c_m {
  color: #666
}
.cf {
  zoom: 1
}
.cf:after,
.cf:before {
  display: table;
  content: ''
}
.cf:after {
  clear: both
}
.dib-wrap {
  font-size: 0
}
.dib-wrap a,
.dib-wrap span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
  word-spacing: normal
}
.dib-box a,
.dib-box span {
  display: inline-block;
  vertical-align: middle;
  letter-spacing: normal;
  word-spacing: normal
}