@charset 'UTF-8';
.g_site_readnovel {
  --primary-red-500: #ff3955;
  --primary-red-300: #ff5269;
  --primary-red-50: #fff5f6;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
.g_site_hongxiu {
  --primary-red-500: #ff3955;
  --primary-red-300: #ff5269;
  --primary-red-50: #ffeaed;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
.g_site_xs8 {
  --primary-red-500: #2dc505;
  --primary-red-300: #6be73d;
  --primary-red-50: #d1f4c4;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
.g_site_chuangshi {
  --primary-red-500: #ad322d;
  --primary-red-300: #ff6f75;
  --primary-red-50: #ffe5e7;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
.g_site_yunqi {
  --primary-red-500: #eb7585;
  --primary-red-300: #ff6f75;
  --primary-red-50: #ffe5e7;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
.g_site_rongshuxia {
  --primary-red-500: #5d8637;
  --primary-red-300: #82bc4b;
  --primary-red-50: #f4f9f0;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
.g_site_xs {
  --primary-red-500: #e15928;
  --primary-red-300: #fa8d66;
  --primary-red-50: #fff9f6;
  --secondary-blue-500: #116be7;
  --secondary-blue-300: #498ff1;
  --secondary-blue-50: #e3eefd;
  --surface-gray-900: #191919;
  --surface-gray-700: #4c4c4c;
  --surface-gray-500: #808080;
  --surface-gray-400: #adadad;
  --surface-gray-300: #ccc;
  --surface-gray-200: #e0e0e0;
  --surface-gray-100: #ebebeb;
  --surface-gray-50: #f5f5f5;
  --surface-bw-white: #fff;
  --background-gray-100: #ebebeb;
  --background-gray-50: #f5f5f5;
  --background-bw-white: #fff;
  --sheet-background-gray-50: #f5f5f5;
  --sheet-background-bw-white: #fff;
  --nav-bar-background-bw-white: #fff;
  --on-image-bw-white: #fff;
  --on-image-white-70: #fffb3;
  --on-image-white-36: #fff5c;
  --on-image-black-90: #000e6;
  --on-image-black-60: #00099;
  --on-image-black-36: #0005c;
  --outline-black-8: #00014;
  --segmentation-black-4: #0000a;
  --overlay-black-90: #000e6;
  --overlay-black-60: #00099;
  --overlay-black-36: #0005c;
  --bw-black: #000;
  --bw-white: #fff;
  --red-900: #4d0510;
  --red-800: #730915;
  --red-700: #99141f;
  --red-600: #bf222a;
  --red-500: #e5353e;
  --red-400: #ff4d55;
  --red-300: #ff6f75;
  --red-200: #ff999e;
  --red-100: #ffc2c4;
  --red-50: #ffe5e7;
  --gray-900: #191919;
  --gray-800: #333;
  --gray-700: #4c4c4c;
  --gray-600: #666;
  --gray-500: #808080;
  --gray-400: #adadad;
  --gray-300: #ccc;
  --gray-200: #e0e0e0;
  --gray-100: #ebebeb;
  --gray-50: #f5f5f5;
  --black-90: #000e6;
  --black-80: #000cc;
  --black-70: #000b3;
  --black-60: #00099;
  --black-48: #0007a;
  --black-36: #0005c;
  --black-32: #00052;
  --black-24: #0003d;
  --black-16: #00029;
  --black-12: #0001f;
  --black-10: #0001a;
  --black-8: #00014;
  --black-4: #0000a;
  --white-90: #fffe6;
  --white-80: #fffcc;
  --white-70: #fffb3;
  --white-60: #fff99;
  --white-48: #fff7a;
  --white-36: #fff5c;
  --white-32: #fff52;
  --white-24: #fff3d;
  --white-16: #fff29;
  --white-12: #fff1f;
  --white-10: #fff1a;
  --white-8: #fff14;
  --white-4: #fff0a;
  --red-alpha-90: #e5353ee6;
  --red-alpha-80: #e5353ecc;
  --red-alpha-70: #e5353eb3;
  --red-alpha-60: #e5353e99;
  --red-alpha-48: #e5353e7a;
  --red-alpha-36: #e5353e5c;
  --red-alpha-32: #e5353e52;
  --red-alpha-24: #e5353e3d;
  --red-alpha-16: #e5353e29;
  --red-alpha-12: #e5353e1f;
  --red-alpha-10: #e5353e1a;
  --red-alpha-8: #e5353e14;
  --red-alpha-4: #e5353e0a;
  --gold-900: #441f0a;
  --gold-800: #593319;
  --gold-700: #6f4721;
  --gold-600: #805725;
  --gold-500: #a3793e;
  --gold-400: #cba567;
  --gold-300: #dbc091;
  --gold-200: #ebd7b2;
  --gold-100: #f0e4cc;
  --gold-50: #f5efe1;
  --orange-red-900: #4d1700;
  --orange-red-800: #802600;
  --orange-red-700: #b33500;
  --orange-red-600: #e64500;
  --orange-red-500: #ff5e1a;
  --orange-red-400: #ff824d;
  --orange-red-300: #ff9a6f;
  --orange-red-200: #ffb291;
  --orange-red-100: #ffcab3;
  --orange-red-50: #ffe1d5;
  --orange-900: #4e2c00;
  --orange-800: #814900;
  --orange-700: #b46600;
  --orange-600: #e78300;
  --orange-500: #ff9c1b;
  --orange-400: #ffb24e;
  --orange-300: #ffc170;
  --orange-200: #ffd092;
  --orange-100: #ffdeb4;
  --orange-50: #ffedd6;
  --yellow-900: #4e3b00;
  --yellow-800: #816100;
  --yellow-700: #b48700;
  --yellow-600: #e7ad00;
  --yellow-500: #ffc61b;
  --yellow-400: #ffd34e;
  --yellow-300: #ffdb70;
  --yellow-200: #ffe492;
  --yellow-100: #ffecb4;
  --yellow-50: #fff5d6;
  --green-900: #093d20;
  --green-800: #0f6332;
  --green-700: #1c8a46;
  --green-600: #2cb05a;
  --green-500: #40d76f;
  --green-400: #68e38b;
  --green-300: #95f0ab;
  --green-200: #c5fcd1;
  --green-100: #d9fce0;
  --green-50: #f0fff2;
  --cyan-900: #043f2a;
  --cyan-800: #076f4a;
  --cyan-700: #0b9e6a;
  --cyan-600: #0ece89;
  --cyan-500: #10ee9f;
  --cyan-400: #3ff2b2;
  --cyan-300: #6ff5c5;
  --cyan-200: #9ef8d8;
  --cyan-100: #befbe5;
  --cyan-50: #defdf2;
  --auqamarin-900: #00364d;
  --auqamarin-800: #005980;
  --auqamarin-700: #007db3;
  --auqamarin-600: #00a0e6;
  --auqamarin-500: #1abaff;
  --auqamarin-400: #4dc9ff;
  --auqamarin-300: #6fd3ff;
  --auqamarin-200: #91deff;
  --auqamarin-100: #b3e8ff;
  --auqamarin-50: #d5f2ff;
  --blue-900: #344370;
  --blue-800: #3b5181;
  --blue-700: #3e62a5;
  --blue-600: #4b79ca;
  --blue-500: #5790df;
  --blue-400: #6da2ed;
  --blue-300: #84b4f5;
  --blue-200: #a9caf9;
  --blue-100: #d1e3fd;
  --blue-50: #edf1fc;
  --purple-900: #120338;
  --purple-800: #22075e;
  --purple-700: #391085;
  --purple-600: #531dab;
  --purple-500: #722ed1;
  --purple-400: #9254de;
  --purple-300: #b37feb;
  --purple-200: #d3adf7;
  --purple-100: #efdbff;
  --purple-50: #f9f0ff;
  --pink-900: #4e0021;
  --pink-800: #810036;
  --pink-700: #b4004b;
  --pink-600: #e70061;
  --pink-500: #ff1b7a;
  --pink-400: #ff4e98;
  --pink-300: #ff70ac;
  --pink-200: #ff92c0;
  --pink-100: #ffb4d3;
  --pink-50: #ffd6e7
}
:root .g_site_readnovel {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--red-100);
  --color-header-menu-bg: var(--sheet-background-bw-white);
  --color-header-menu-text: var(--surface-gray-900);
  --color-header-menu-hover-line: var(--primary-red-500);
  --color-header-menu-icon: var(--primary-red-500);
  --color-common-bg: #f5f5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--pink-500);
  --color-rank-label-bg-2: var(--auqamarin-500);
  --color-rank-label-bg-3: var(--cyan-500)
}
:root .g_site_xs8 {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--green-100);
  --color-header-menu-bg: var(--primary-red-500);
  --color-header-menu-text: var(--sheet-background-bw-white);
  --color-header-menu-hover-line: var(--sheet-background-bw-white);
  --color-header-menu-icon: var(--sheet-background-bw-white);
  --color-common-bg: #f5f5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--green-500);
  --color-rank-label-bg-2: #d4e625;
  --color-rank-label-bg-3: #f7c595
}
:root .g_site_hongxiu {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--red-100);
  --color-header-menu-bg: linear-gradient(to right,#fc0e50 0,#e97360 100%);
  --color-header-menu-text: var(--sheet-background-bw-white);
  --color-header-menu-hover-line: var(--sheet-background-bw-white);
  --color-header-menu-icon: var(--sheet-background-bw-white);
  --color-common-bg: #fff5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--pink-500);
  --color-rank-label-bg-2: var(--auqamarin-500);
  --color-rank-label-bg-3: var(--cyan-500)
}
:root .g_site_chuangshi {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--red-100);
  --color-header-menu-bg: var(--sheet-background-bw-white);
  --color-header-menu-text: var(--surface-gray-900);
  --color-header-menu-hover-line: var(--primary-red-500);
  --color-header-menu-icon: var(--primary-red-500);
  --color-common-bg: #f5f5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--pink-500);
  --color-rank-label-bg-2: var(--auqamarin-500);
  --color-rank-label-bg-3: var(--cyan-500)
}
:root .g_site_yunqi {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--red-100);
  --color-header-menu-bg: var(--sheet-background-bw-white);
  --color-header-menu-text: var(--surface-gray-900);
  --color-header-menu-hover-line: var(--primary-red-500);
  --color-header-menu-icon: var(--primary-red-500);
  --color-common-bg: #f5f5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--pink-500);
  --color-rank-label-bg-2: var(--auqamarin-500);
  --color-rank-label-bg-3: var(--cyan-500)
}
:root .g_site_rongshuxia {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--primary-red-300);
  --color-header-menu-bg: var(--sheet-background-bw-white);
  --color-header-menu-text: var(--surface-gray-900);
  --color-header-menu-hover-line: var(--primary-red-500);
  --color-header-menu-icon: var(--primary-red-500);
  --color-common-bg: #f5f5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--orange-red-400);
  --color-rank-label-bg-2: var(--blue-400);
  --color-rank-label-bg-3: var(--yellow-500)
}
:root .g_site_xs {
  --color-primary: var(--primary-red-500);
  --color-primary-ligher: var(--primary-red-300);
  --color-primary-lighest: var(--primary-red-50);
  --color-primary-border: var(--primary-red-300);
  --color-header-menu-bg: var(--sheet-background-bw-white);
  --color-header-menu-text: var(--surface-gray-900);
  --color-header-menu-hover-line: var(--primary-red-500);
  --color-header-menu-icon: var(--primary-red-500);
  --color-common-bg: #f5f5f5;
  --color-home-block-bg: var(--primary-red-50);
  --color-rank-label-bg-1: var(--red-500);
  --color-rank-label-bg-2: var(--yellow-300);
  --color-rank-label-bg-3: var(--black-60)
}
a,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px
}
li,
ol,
ul {
  list-style: none outside none
}
table {
  border-spacing: 0;
  border-collapse: collapse
}
fieldset,
img {
  border: 0 none
}
html {
  min-width: 990px
}
body {
  font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased
}
input::-moz-focus-inner {
  padding: 0;
  border: none
}
a img {
  border: none
}
a {
  text-decoration: none;
  color: #262626;
  outline: 0
}
a:hover {
  color: var(--color-primary)
}
a.default {
  cursor: text
}
a.default:hover {
  color: inherit
}
.loaded a {
  transition: color .3s,background-color .3s,border .3s
}
textarea {
  font: 14px/1.8 PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
  resize: none;
  outline: 0
}
select {
  font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif
}
button,
input {
  font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
  border: none;
  outline: 0
}
input::-ms-clear {
  display: none
}
label {
  cursor: pointer
}
cite,
em,
i {
  font-style: normal
}
:-moz-placeholder {
  color: #bbb
}
::-moz-placeholder {
  color: #bbb
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #bbb
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbb
}
p {
  word-wrap: break-word;
  word-break: break-all
}
.lbf-combobox .lbf-combobox-label .lbf-combobox-icon:before {
  visibility: hidden
}